<h2>Todo items</h2>

<form id="new-todo-form">
  <input type="text" id="todo-title" placeholder="Title" required />
  <input type="date" id="todo-duedate" required />
  <button type="submit">Add Todo</button>
</form>

<div class="todo-item">
  <span class="todo-title">Grocery Shopping</span>
  <span class="todo-duedate">2025-01-18</span>
</div>

<div class="todo-item">
  <span class="todo-title todo-completed">Book Doctor Appointment</span>
  <span class="todo-duedate">2025-01-15</span>
</div>

<div class="todo-item">
  <span class="todo-title">Pay Bills</span>
  <span class="todo-duedate">2025-01-22</span>
</div>