<!DOCTYPE html>
<html>
  <head>
    <title><%= envs.APP_NAME %></title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  </head>

  <body>
    <nav hx-get="/nav" hx-trigger="load"></nav>

    <main class="todo-container" hx-get="/main" hx-trigger="load"></main>

    <footer id="counters" hx-trigger="ITEM_UPDATED from:body" hx-get="/todo/counters">
      <p>There will be counters here when you log in</p>
    </footer>
  </body>
</html>
