<form id="edit-form" class="todo-form" hx-put="/todo/<%= todo.id %>">
  <%- include("partials/title.ejs", {errormessage: "", title: todo.title, prefix: "edit" }) %>
  <%- include("partials/duedate.ejs", {errormessage: "", duedate: todo.duedate, prefix: "edit" }) %>
  <div class="form-group">
    <button type="submit" hx-target="closest .todo-item" hx-swap="outerHTML">
      Update
    </button>
  </div>
  <div class="form-group">
    <button class="cancel-button" type="button" hx-get="/todo/<%= todo.id %>">
      Cancel
    </button>
  </div>
</form>
